# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [39]:
#Делаем счётчик для условной конструкции в цикле для вычисления количества возвратов кредитов по количеству детей
zero_children = 0
one_child = 0
two_children = 0
three_children = 0
four_children = 0
five_children = 0
debtors = 0
#строим цикл с уловной конструкцией внутри
for index, row in data.iterrows():
    if row['debt'] == 0 and row['children'] == 0:
        zero_children += 1
    elif row['debt'] == 0 and row['children'] == 1:
        one_child += 1
    elif row['debt'] == 0 and row['children'] == 2:
        two_children += 1
    elif row['debt'] == 0 and row['children'] == 3:
        three_children += 1
    elif row['debt'] == 0 and row['children'] == 4:
        four_children += 1
    elif row['debt'] == 0 and row['children'] == 5:
        five_children += 1
    else:
        debtors += 1
#находим количство людей по количеству детей и выводим все найденные данные на экран
number_of_children = data['children'].value_counts()
data['Количество клиентов в категории'] = pd.Series(data['children'].value_counts())
data['Название категории'] = pd.Series(['0 детей', '1 ребёнок', '2 ребёнка', '3 ребёнка', '4 ребёнка', '5 детей'])
data['Доля возвращенных кредитов'] = pd.Series(["{:%}".format(zero_children/number_of_children[0]), "{:%}".format(one_child/number_of_children[1]), "{:%}".format(two_children/number_of_children[2]), "{:%}".format(three_children/number_of_children[3]), "{:%}".format(four_children/number_of_children[4]), "{:%}".format(five_children/number_of_children[5])])
table = data.pivot_table(index =  ['Название категории', 'Доля возвращенных кредитов'], values = 'Количество клиентов в категории')
print (table)

                                               Количество клиентов в категории
Название категории Доля возвращенных кредитов
0 детей            92.456178%                                          14091.0
1 ребёнок          90.765391%                                           4808.0
2 ребёнка          90.545809%                                           2052.0
3 ребёнка          91.818182%                                            330.0
4 ребёнка          90.243902%                                             41.0
5 детей            100.000000%                                             9.0

**Вывод: зависимость между количеством детей и сдачей кредита в срок частично прослеживается, ведь люди с детьми с меньшим шансом сдают кредит в срок нежели без них, но сильная разница не прослеживается, только на 1,2 процента, но на эти данные нельзя смотреть как на абсолютную истину, ведь людей с детьми меньше и данных в таблице соответственно тоже меньше.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [40]:
#Делаем счётчик для условной конструкции в цикле для вычисления количества возвратов кредитов по семейному положению
married = 0
live_together = 0
not_married = 0
divorced = 0
widow = 0
debtors = 0
#строим цикл с уловной конструкцией внутри
for index, row in data.iterrows():
    if row['debt'] == 0 and row['family_status'] == 'женат / замужем':
        married += 1
    elif row['debt'] == 0 and row['family_status'] == 'гражданский брак':
        live_together += 1
    elif row['debt'] == 0 and row['family_status'] == 'Не женат / не замужем':
        not_married += 1
    elif row['debt'] == 0 and row['family_status'] == 'в разводе':
        divorced += 1
    elif row['debt'] == 0 and row['family_status'] == 'вдовец / вдова':
        widow += 1
    else:
        debtors += 1
#находим количство людей по семейному статусу и выводим все найденные данные на экран
family_status_of_people  = data['family_status'].value_counts()
print (family_status_of_people)
data['Количество клиентов в категории'] = pd.Series([12261, 4134, 2796, 1189, 951])
data['Название категории'] = pd.Series(['женат, замужем', 'гражданский брак', 'Не женат, не замужем', 'в разводе', 'вдовец, вдова'])
data['Доля возвращенных кредитов'] = pd.Series(["{:%}".format(married/family_status_of_people[0]), "{:%}".format(live_together/family_status_of_people[1]), "{:%}".format(not_married/family_status_of_people[2]), "{:%}".format(divorced/family_status_of_people[3]), "{:%}".format(widow/family_status_of_people[4])])
table = data.pivot_table(index =  ['Название категории', 'Доля возвращенных кредитов'], values = 'Количество клиентов в категории')
print (table)

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64
                                                 Количество клиентов в категории
Название категории   Доля возвращенных кредитов
Не женат, не замужем 90.236052%                                           2796.0
в разводе            92.935240%                                           1189.0
вдовец, вдова        93.375394%                                            951.0
гражданский брак     90.686986%                                           4134.0
женат, замужем       92.439442%                                          12261.0

**Вывод: зависимость между семейным положением и возвратом кредита в срок прослеживается, люди, находящиеся в браке или когда-либо там находившиеся, отдают кредит немного чаще чем иные подгруппы людей.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [41]:
#Делаем счётчик для условной конструкции в цикле для вычисления количества возвратов кредитов по количеству дохода
A_level = 0
B_level = 0
C_level = 0
D_level = 0
E_level = 0
debtors = 0
#строим цикл с уловной конструкцией внутри
for index, row in data.iterrows():
    if row['debt'] == 0 and row['total_income_category'] == 'A':
        A_level += 1
    elif row['debt'] == 0 and row['total_income_category'] == 'B':
        B_level += 1
    elif row['debt'] == 0 and row['total_income_category'] == 'C':
        C_level += 1
    elif row['debt'] == 0 and row['total_income_category'] == 'D':
        D_level += 1
    elif row['debt'] == 0 and row['total_income_category'] == 'E':
        E_level += 1
    else:
        debtors += 1
#находим количство людей по количеству дохода и выводим все найденные данные на экран
income_category_of_people = data['total_income_category'].value_counts()
print (income_category_of_people)
data['Количество клиентов в категории'] = pd.Series([15921, 5014, 349, 25, 22])
data['Название категории'] = pd.Series(['доход C', 'доход B', 'доход D', 'доход A', 'доход E'])
data['Доля возвращенных кредитов'] = pd.Series(["{:%}".format(C_level/income_category_of_people[0]), "{:%}".format(B_level/income_category_of_people[1]), "{:%}".format(D_level/income_category_of_people[2]), "{:%}".format(A_level/income_category_of_people[3]), "{:%}".format(E_level/income_category_of_people[4])])
table = data.pivot_table(index =  ['Название категории', 'Доля возвращенных кредитов'], values = 'Количество клиентов в категории')
print (table)

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64
                                               Количество клиентов в категории
Название категории Доля возвращенных кредитов
доход A            92.000000%                                             25.0
доход B            92.939769%                                           5014.0
доход C            91.501790%                                          15921.0
доход D            93.982808%                                            349.0
доход E            90.909091%                                             22.0

**Вывод: зависимость практически не прослеживается, ведь разность в 2, 3 процента является лишь погрешностью между разными категориями доходов, так как людей в этих категориях не равное количество, хотя можно заметить что люди с доходом D отдают кредит чаще всех, а вот люди с доходом E, наоборот, реже всех.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [42]:
#Делаем счётчик для условной конструкции в цикле для вычисления количества возвратов кредитов по цели кредита
automobile = 0
real_estate = 0
marriage = 0
education = 0
debtors = 0
#строим цикл с уловной конструкцией внутри
for index, row in data.iterrows():
    if row['debt'] == 0 and row['purpose_category'] == 'операции с автомобилем':
        automobile += 1
    elif row['debt'] == 0 and row['purpose_category'] == 'операции с недвижимостью':
        real_estate += 1
    elif row['debt'] == 0 and row['purpose_category'] == 'проведение свадьбы':
        marriage += 1
    elif row['debt'] == 0 and row['purpose_category'] == 'получение образования':
        education += 1
    else:
        debtors += 1
#находим количство людей по цели кредита и выводим все найденные данные на экран
purpose_category_of_people = data['purpose_category'].value_counts()
print (purpose_category_of_people)
data['Количество клиентов в категории'] = pd.Series([10751, 4279, 3988, 2313])
data['Название категории'] = pd.Series(['операции с недвижимостью', 'операции с автомобилем', 'получение образования', 'проведение свадьбы'])
data['Доля возвращенных кредитов'] = pd.Series(["{:%}".format(real_estate/purpose_category_of_people[0]), "{:%}".format(automobile/purpose_category_of_people[1]), "{:%}".format(education/purpose_category_of_people[2]), "{:%}".format(marriage/purpose_category_of_people[3])])
table = data.pivot_table(index =  ['Название категории', 'Доля возвращенных кредитов'], values = 'Количество клиентов в категории')
print (table)

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64
                                                     Количество клиентов в категории
Название категории       Доля возвращенных кредитов
операции с автомобилем   90.652022%                                           4279.0
операции с недвижимостью 92.744861%                                          10751.0
получение образования    90.747242%                                           3988.0
проведение свадьбы       92.088197%                                           2313.0

**Вывод: можно заметить, что люди, которые берут кредит под операции с недвижимостью или проведения свадьбы, возвращают деньги в банк немного чаще, чем остальные группы людей.**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:Некорректный сбор данных, Технические проблемы, Несовместимость формата данных, Отсутствие обязательной информации, Удаление или скрытие данных, Человеческий фактор, Повреждение данных.*

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ: Медиана является устойчивой мерой центральной тенденции, которая не чувствительна к выбросам в данных.
Заполнение пропусков медианным значением позволяет сохранить общую форму распределения и не искажает статистические свойства переменной.
Медиана лучше справляется с асимметричными распределениями, чем среднее значение, поскольку она не зависит от экстремальных значений.
По сравнению с использованием других мер центральной тенденции, таких как среднее или мода, медиана менее подвержена ошибке в случае небольших выборок или неоднородности данных.
Заполнение пропусков медианным значением позволяет сохранить согласованность и стабильность в анализе данных, так как оно не изменяется при повторных вычислениях.
Медиана является интуитивно понятной мерой центральной тенденции, которую легко интерпретировать и объяснить другим пользователям или заинтересованным сторонам.
Заполнение пропусков медианным значением простое и быстрое решение, которое может быть эффективно применено к большим наборам данных без большого объема вычислений.*

### Шаг 4: общий вывод.

**В данном проекте мы выяснили, какие именно факторы влияют на возврат кредита в срок, благодаря этим данным, мы можем понять, что идеальный заёмщик это человек находящийся или находившийся в браке, имеющий 5 детей, с доходом типа D и берущий кредит под операции с недвижимостью.**